<section id="event1" >
    <div class="section_inner clearfix">
        <div class="w50">
            <h3>
                The Best Site<br/>
                Of The Day for<br/> 
                Weather<br/>
                Conditions
            </h3>
            <div class="sep"></div>
            <div class="ivox">
                <div class="q_icon_list">
                    <span>SEO</span>
                </div>
                <div class="q_icon_list">
                    <span>Social media enhancements</span>
                </div>
                <div class="q_icon_list">
                    <span>General web marketing</span>
                </div>
                <div class="q_icon_list">
                    <span>Mobile App</span>
                </div>
            </div><!-- ivox -->
        </div>

        <div class="w70">
            <div class="qt_box">
                <a href="#">
                    <img src="/asset/dist/img/h-video-box.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>