<link rel='stylesheet' href='/asset/dist/css/main.css' />
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/asset/dist/js/script.js"></script>

<footer>
  <div class="footer_inner clearfix">
    <div class="left">@Copyright Wpfab software studio.</div>
    <div class="right">
      <div class="sns"> 
          <span>Follow Me : </span>
          <span><a href="#">Blog</a></span>
          <span><a href="#">in</a></span>
      </div>
    </div>
  </div>
</footer>