<header class="">
    <div class="header_inner clearfix">

            <div class="header_bottom clearfix" >
                <div class="header_inner_left">
    
                <div class="logo_wrapper">
                    <div class="q_logo">
                        <a itemprop="url" href="#">
                            <img itemprop="image" class="mobile" src="https://bridge236.qodeinteractive.com/wp-content/uploads/2018/05/logo.png" alt="Logo" /> </a>
                        </div>
                    </div> 
                </div>

                    <nav class="main_menu drop_down right">
                        <ul id="menu-main-menu" class="">
                            <li class="">
                                <a href="#" class="current">Home</a>
                            </li>
                            <li>
                                <a href="#" class="">About Me</a>
                            </li>
                            <li>
                                <a href="#" class="">Project</a>
                            </li>
                            <li >
                                <a href="#" class="">Clients</a>                                
                            </li>
                            <li >
                                <a href="#" class="">Contact</a>                                 
                            </li>
                        </ul>
                    </nav>
            </div>
        
    </div>
</header>