<section id="aboutus"  class="sec">
    <h1 class="title">&lt;About us &gt;</h1>
    <div class="inner">
        <div class="pic">
            <img src="/asset/dist/img/h1-img-1.jpg" />
        </div>
        <div class="info-panel">
            <h3>Cooperation<br/>
                With International<br/>
                Clients</h3>
            <div class="sep"></div>
        </div>
    </div>
</section>