<div id="sec2" class="sec">
   <h1 class="title">&lt;projects &gt;</h1>
    <div class="inner">
        <div id="projects">
            <div class="box">
                <div class="w80">                
                    <div class="project">pj</div>
                </div>
                <div class="w40">
                    <div class="project">pj</div>
                    <div class="project">pj</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- #sec1 -->