<section id="sec4" class="sec">
   <h1 class="title">&lt;Clients &gt;</h1>
    <div class="inner">
       
        <div class="our_client">
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
            <div class="client">
                <a href="#" class="c1">
                    <img src="/images/client-1h.png" />
                </a>
            </div>
        </div>

    </div>
<section /><!-- #sec1 -->