<section id="sec5" class="sec">
   <h1 class="title">&lt;contact us &gt;</h1>
    <div class="inner">
        
        <div class="box">
            <div class="w50">
                <h3 class="s1_title">
                    Hire Me<br/>
                    For The Next<br/>
                    Projects
                </h3>
                <div class="sep"></div>
                <p>In mattis tincidunt quam non fermentum. Fusce fermentum massa tortor, ineuismod
                    mauris placerat quis. Integer porta porte nume lorem nisi, quis ultricies nisi imperdiet
                    vitae. Fusce fermentum massa tortor</p>
            </div>
            <div class="w50">
                
                <form action="/#wpcf7-f169-p5-o1" method="post" class="wpcf7-form cf7_custom_style_1" novalidate="novalidate">
                    <div><span class="wpcf7-form-control-wrap text-322"><input type="text" name="text-322" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Name:*"></span></div>
                    <div><span class="wpcf7-form-control-wrap text-322"><input type="text" name="text-322" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Email Address:*"></span></div>
                    <div><span class="wpcf7-form-control-wrap textarea-836"><textarea name="textarea-836" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Text Message"></textarea></span></div>
                    <button type="button">Submit</button>
                <div class="wpcf7-response-output wpcf7-display-none"></div></form>                

            </div>
        </div>

    </div>
</section><!-- #sec1 -->