h4{
    line-height: 1.5;
}
/*
@media (max-width: 1023px) and (min-width: 421px){
    h2,h2 span{
        font-size: 30px ! important;
        line-height: 1.6em ! important;
        font-weight: bold;
    }
    h3,h3 span{
        font-size: 25px ! important;
        line-height: 1.6em ! important;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        line-height: 1.7em;
    }
}


@media (max-width:420px){
    h2,h2 span{
        font-size: 25px ! important;
        line-height: 1.6em ! important;
        font-weight: bold;
        margin-bottom: 0;
    }
    h3,h3 span{
        font-size: 20px ! important;
        line-height: 1.6em ! important;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        line-height: 1.7em;
    }
}
*/