footer{
    border-top:1px solid #55545a;
    .footer_inner{
        max-width: 1190px;;
        margin-left:auto;
        margin-right: auto;;
        display: flex;;
        align-items: center;;
        justify-content: space-between;
        height: 53px;


        .left,.right{
            font-family: 'Open Sans',sans-serif;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 22px;
             font-weight: 300;
            text-transform: none;
            font-style: normal;
            a{
                color:#fff;
            }

          
        }
     
        
    }
}