header .header_inner_left{
    position: absolute;
    left: 45px;
    top: 0;
}

.mobile_menu_button {
    display: none;
    float: left;
    height: 100px;
    margin: 0 20px 0 0;
}


.logo_wrapper {
    height: 100px;
    float: left;
}